body {
    color: black;
    background-color: #FAEEDE;   
}
#slid{
    margin-top: 130px;
}
#title{
    text-align: center;
    font-family: 'Bitter', serif;
    font-family: 'Lobster', cursive;
}
#galeriep{
    text-align: center;
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}
form {
       margin-left: 505px;
      background-color:#5FB7D9;
       height: 325px;
       width: 250px;
       border-radius: 25px 0px;
       font-family: 'Bitter', serif;
       border: 1px  black solid;
}
ul{
    padding:50px 0px 0px 47px;
}

input{
    height: 30px;
    width: 150px;
    margin:11px 0px 15px 0px;
    border-radius: 7px 0px;   
}
h3{
    text-align: center;
    color:black;
    margin-top: 40px;
}
